@media (max-width:1200px){
    .container_site {
        margin: 0 20px;
}
}
@media (max-width:1042px) {
    .container_site {
        padding: 0;
        margin: 0 20px;
}
    .action_order {
        max-width: 100%;
    }
}

@media (max-width:882px) {

    .header_bottom {
        margin-top: 2rem;
    }

    .fixed_box_delivery {
        top: -2rem;
        left: -10rem;
    }
}

@media (max-width:834px) {
    .navgation {
        grid-template-columns: repeat(3, auto);
    }

    .navgation>ul {
        display: none;
    }

    .link_navgation {
        justify-self: center;
    }

    .menu-icon {
        justify-self: center;
    }

    .content_left_header_bottom h1 {
        font-size: 43px;
        line-height: 50px;
    }

    .order_food {
        margin-top: 2rem;
    }

    .button_action_order {
        gap: 2px;
        max-width: 45%;
        padding: 5px 10px;
    }

    .action_order {
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .action_order>button {
        padding: 16px;
        font-size: 14px;
    }

    .fixed_box_delivery {
        padding: 6px;
        top: -1rem;
        left: -5rem;
    }

    .fixed_box_delivery div span {
        font-size: 19px;
    }
    
    .row_grid_food_products{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (min-width:834px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width:676px) {
    .container_site {
    margin: 0 5px;
}
    .header_bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .content_left_header_bottom {
        text-align: center;
        width: 100%;
    }

    .content_left_header_bottom p {
        max-width: 100%;
        margin:1.5rem 0;
    }
    .order_food_desktop{
        display:none;
    }
    .order_food_mobile{
        margin-top:3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fixed_box_delivery{
        position:static;
        width: 30%;
    }
    .action_order> button{
        padding: 9px;
    }
    .action_order> button svg{
        font-size:19px;
        margin-top:-2px;
    }
}
@media (min-width:677px){
    .order_food_mobile{
        display:none;
    }
}
@media (max-width:500px){
    .row_grid_food_products{
        grid-template-columns:repeat(1,100%);
    }
}