* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    padding-bottom: 300px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

:root {
    --color_C90000: #c90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
    --color_FFFDE6: #FFFDE6;
    --color_FFF: #fff;
    --color_rgba_241: rgba(241, 241, 241, 0.70);
    --color_rgba_241_40: rgba(241, 241, 241, 0.40);
}

img {
    width: 100%;
}

.text_danger {
    color: var(--color_C90000);
}

.main_header {
    margin-top: 1rem;
}

.container_site {
    margin: 0 200px;
    padding: 0 0.5rem;
}

.navgation {
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navgation ul {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    align-items: center;
}

.navgation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
}

.navgation ul li:is(:first-child) a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navgation ul a {
    font-weight: 500;
}

.link_navgation :first-child {
    border: 1px solid var(--color_C90000);
    color: #c90000;
}

.link_navgation :last-child {
    background-color: var(--color_C90000);
    color: var(--color_FFF);
}

.link_navgation a {
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 400;
}

#close_icon {
    display: none;
    color: var(--color_504F4F);
}

.nav_menu_sidbar {
    z-index:100;
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: var(--color_FFF);
    height: 100;
    top: 0;
    padding: 1.5rem;
    width: 200px;
    border-right: 1px solid #504F4F;
    height: 100%;
    transform: translatex(-390px);
    -moz-transform: translatex(-390px);
    -ms-transform: translatex(-390px);
    -o-transform: translatex(-390px);
    transition: all 280ms ease-out;
    -webkit-transition: all 280ms ease-out;
    -moz-transition: all 280ms ease-out;
    -ms-transition: all 280ms ease-out;
    -o-transition: all 280ms ease-out;
}

#input_menu:checked+label+ul {
    transform: translatex(0);
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
}

#input_menu:checked+label svg:first-child {
    display: none;
}

#input_menu:checked+label #close_icon {
    display: block;
}

.header_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content_left_header_bottom {
    align-self: center;
    width: 86%;
}

.content_left_header_bottom h1 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    line-height: 76px;
}

.content_left_header_bottom p {
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 77%;
}

.order_food {
    margin-top: 3rem;
}

.text_price_order_food {
    color: var(--color_323232);
    margin-bottom: 1rem;
}

.text_price_order_food span:first-child {
    font-size: 16px;
    font-weight: 300;
}

.text_price_order_food span:last-child {
    font-size: 24px;
    font-weight: 500;
}

.action_order {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.button_action_order {
    max-width: 41%;
    border: 1px solid var(--color_rgba_241);
    background-color: var(--color_FFF);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 16px;
    box-shadow: 0 10px 17px 0 rgba(112, 144, 176, 0.20)
}

.button_action_order button {
    border: none;
    background-color: transparent;
}

.button_action_order span {
    color: var(--color_FFC300);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.button_action_order span::after,
.button_action_order span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color_rgba_241);
}

.button_action_order span::after {
    margin-left: 12px;
}

.button_action_order span::before {
    margin-right: 12px;
}

.action_order>button {
    background-color: var(--color_FFC300);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 20px 0 var(--color_rgba_241);
    border: none;
    padding: 16px 24px;
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 600;
}

.action_order>button svg {
    margin-top: -3px;
    margin-right: 5px;
}

.content_right_header_bottom {
    position: relative;
}

.fixed_box_delivery {
    position: absolute;
    top: 5rem;
    left: -6rem;
    padding: 12px;
    text-align: center;
    border-radius: 50px 50px 0 50px;
    -webkit-border-radius: 50px 50px 0 50px;
    -moz-border-radius: 50px 50px 0 50px;
    -ms-border-radius: 50px 50px 0 50px;
    -o-border-radius: 50px 50px 0 50px;
    background-color: var(--color_rgba_241_40);
    border: 1px solid var(--color_F1F1F1);
}

.fixed_box_delivery div {
    display: flex;
    align-items: center;
}

.fixed_box_delivery>span {
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 6px;
    color: var(--color_7D7C7C);
}

.fixed_box_delivery div span {
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
}
.row_title_section_food h4{
    position:relative;
    color: var(--color_C90000);
    font-size:48px;
    font-weight: 600;
}
.line_bottom_row_title{
    width:137px;
    height:9px;
    background-color:#FFF6A3;
    position:absolute;
    top:35px;
    z-index:-1;
}
.row_button_category{
    grid-auto-rows: 45px;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 20px;
    margin-top: 32px;
    justify-content: flex-start;
}
.row_button_category button{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 20px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    column-gap: 8px;
}
.button_active_category{
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-weight: 600 !important;
}
.row_grid_food_products{
    margin-top:32px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.item_food_grid{
    border: 1px solid var(--color_E3E3E3);
    padding: 1rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
}
.badge_Discount{
    width: 48px;
    position: absolute;
}
.img_item_food_grid{
    position: relative;
    text-align: center;
}
.img_item_food_grid img{
    max-width: 227px;
    max-height: 170px;
}
.img_item_food_grid> div{
    height: 105px;
    background-color: var(--color_FFFDE6);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: absolute;
    width: 100%;
    bottom: -2px;
    z-index: -1;
}
.info_item_food_grid{
    margin-top: 18px;
}
.info_item_food_grid h5{
    font-size: 20px;
    color: var(--color_323232);
    font-weight: 600;
}
.info_item_food_grid p{
    font-size: 14px;
    color: var(--color_504F4F);
    font-weight: 400;
    margin-top: 5px;
}
.score_item_food_grid{
    margin: 12px 0 20px 0;
}
.bottom_item_food_grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom_item_food_grid span{
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 600;
}
.bottom_item_food_grid button{
    background-color: var(--color_C90000);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    padding: 10px;
}