*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:poppins;
}

@font-face {
    font-family:poppins;
    font-style:normal;
    font-weight:900;
    src:url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family:poppins;
    font-style:normal;
    font-weight:500;
    src:url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family:poppins;
    font-style:normal;
    font-weight:300;
    src:url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

:root{
    --color_C90000: #c90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
}

.text_danger{
    color: var(--color_C90000);
}

.main_header{
    margin-top: 1rem;
}

.container_site{
    max-width: 1170px;
    margin: 0 auto;
}
.navgation{
    display: grid;
    grid-template-columns: 58px 510px 187px;
    justify-content: space-between;
    align-items: center;
}
.navgation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}